list of dictionaries

create a list of 3 dictionaries

In [61]:
students = [
    {"name": "Amit", "age": 20},
    {"name": "Neha", "age": 22},
    {"name": "Rahul", "age": 19}
]

name of first student

In [62]:
print(students[0]["name"])

Amit

loop and print all names

In [63]:
for student in students:
    print(student["name"])

Amit
Neha
Rahul

Add new student Priya (age 21)

In [64]:
students.append({"name": "Priya", "age": 21})
print(students)

[{'name': 'Amit', 'age': 20}, {'name': 'Neha', 'age': 22}, {'name': 'Rahul', 'age': 19}, {'name': 'Priya', 'age': 21}]

Update Rahul’s age to 20

In [65]:
for student in students:
    if student["name"] == "Rahul":
        student["age"] = 20
print(students)

[{'name': 'Amit', 'age': 20}, {'name': 'Neha', 'age': 22}, {'name': 'Rahul', 'age': 20}, {'name': 'Priya', 'age': 21}]

Remove Neha from the list

In [66]:
for s in students:
    if s["name"] == "Neha":
        students.remove(s)
print(students)

[{'name': 'Amit', 'age': 20}, {'name': 'Rahul', 'age': 20}, {'name': 'Priya', 'age': 21}]

Find the oldest student

In [67]:
oldest = students[0]

for s in students:
    if s["age"] > oldest["age"]:
        oldest = s

print(oldest)

{'name': 'Priya', 'age': 21}

Print students older than 20

In [68]:
for student in students:
    if student["age"] > 20:
        print(student)

{'name': 'Priya', 'age': 21}

Convert to list of names only

In [69]:
names = []

for s in students:
    names.append(s["name"])

print(names)

['Amit', 'Rahul', 'Priya']

Sort students by age

In [70]:
for i in range(len(students)):
    for j in range(i + 1, len(students)):
        if students[i]["age"] > students[j]["age"]:
            students[i], students[j] = students[j], students[i]

print(students)

[{'name': 'Amit', 'age': 20}, {'name': 'Rahul', 'age': 20}, {'name': 'Priya', 'age': 21}]

dictionary of lists

initial data

In [71]:
students = {
    "names": ["Amit", "Neha", "Rahul"],
    "ages": [20, 22, 19]
}
print(students)

{'names': ['Amit', 'Neha', 'Rahul'], 'ages': [20, 22, 19]}

Print first student’s name and age

In [72]:
print(students["names"][0], students["ages"][0])

Amit 20

Add new student Priya (21)

In [73]:
students["names"].append("Priya")
students["ages"].append(21)
print(students)

{'names': ['Amit', 'Neha', 'Rahul', 'Priya'], 'ages': [20, 22, 19, 21]}

Update Rahul’s age to 20

In [74]:
index = students["names"].index("Rahul")
students["ages"][index] = 20
print(students)

{'names': ['Amit', 'Neha', 'Rahul', 'Priya'], 'ages': [20, 22, 20, 21]}

Remove Neha and her age

In [75]:
index = students["names"].index("Neha")
students["names"].pop(index)
students["ages"].pop(index)
print(students)

{'names': ['Amit', 'Rahul', 'Priya'], 'ages': [20, 20, 21]}

Find student with maximum age

In [76]:
max_age = max(students["ages"])
index = students["ages"].index(max_age)
print(students["names"][index], max_age)

Priya 21

Print students older than 20

In [77]:
for i in range(len(students["names"])):
    if students["ages"][i] > 20:
        print(students["names"][i], students["ages"][i])

Priya 21

Convert to list of dictionaries

In [78]:
list_of_dicts = []

for i in range(len(students["names"])):
    list_of_dicts.append({
        "name": students["names"][i],
        "age": students["ages"][i]
    })

print(list_of_dicts)

[{'name': 'Amit', 'age': 20}, {'name': 'Rahul', 'age': 20}, {'name': 'Priya', 'age': 21}]

Convert to Pandas DataFrame

In [79]:
import pandas as pd

In [80]:
df = pd.DataFrame(students)
print(df)

   names  ages
0   Amit    20
1  Rahul    20
2  Priya    21

Sort students by age

In [81]:
sorted_students = sorted(
    zip(students["names"], students["ages"]),
    key=lambda x: x[1]
)

print(sorted_students)

[('Amit', 20), ('Rahul', 20), ('Priya', 21)]