In [1]:
with open(r"C:\Users\Ghazal\OneDrive\Desktop\students.txt") as file:
    content = file.read()
    print(content)

Falak, 20, Lucknow
Mahak, 20, Delhi
Awani, 19, Noida
Poornima, 21, Kanpur

In [2]:
with open(r"C:\Users\Ghazal\OneDrive\Desktop\students.txt", 'r') as file:
    content = file.readline()
    print(content)

Falak, 20, Lucknow

In [3]:
with open(r"C:\Users\Ghazal\OneDrive\Desktop\students.txt", 'r') as file:
    lines = file.readlines()
    print(lines)
    file.close()

['Falak, 20, Lucknow\n', 'Mahak, 20, Delhi\n', 'Awani, 19, Noida\n', 'Poornima, 21, Kanpur\n']

In [4]:
with open(r"C:\Users\Ghazal\OneDrive\Desktop\students.txt", 'r') as file:
    lines = file.readlines()
    for line in lines:
        print(line.strip())

Falak, 20, Lucknow
Mahak, 20, Delhi
Awani, 19, Noida
Poornima, 21, Kanpur

In [5]:
with open(r"C:\Users\Ghazal\OneDrive\Desktop\students.txt", 'r') as file:
    count=0
    for line in file:
        count += 1
        print("number of lines", count)

number of lines 1
number of lines 2
number of lines 3
number of lines 4

In [6]:
with open(r"C:\Users\Ghazal\OneDrive\Desktop\students.txt", "w") as file:
    file.write("Falak, 20, Lucknow\n")
    file.write("Mahak, 20, Delhi\n")
    file.write("Awani, 19, Noida\n")

In [7]:
with open(r"C:\Users\Ghazal\OneDrive\Desktop\students.txt", 'r') as file:
    content = file.read()
    print(content)

Falak, 20, Lucknow
Mahak, 20, Delhi
Awani, 19, Noida

In [8]:
with open(r"C:\Users\Ghazal\OneDrive\Desktop\students.txt", "a") as file:
    file.write("Karan, 23, Pune\n")

In [9]:
with open(r"C:\Users\Ghazal\OneDrive\Desktop\students.txt", 'r') as file:
    print(file.read())
    file.close()

Falak, 20, Lucknow
Mahak, 20, Delhi
Awani, 19, Noida
Karan, 23, Pune

In [10]:
with open(r"C:\Users\Ghazal\OneDrive\Desktop\students.txt", "r+") as file:
    data = file.read()
    data = data.replace("Amit", "Amit Kumar", 1)
    file.seek(0)
    file.write(data)
    file.close()

In [14]:
with open(r"C:\Users\Ghazal\OneDrive\Desktop\students.txt", "r+") as file:
    file.seek(0, 2)
    file.write("Sneha, 20, Hyderabad\n")
    file.close()